<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicPochita</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel = "stylesheet" href = "css/normalize.css">
    <link rel = "stylesheet" href = "css/main.css">
</head>
<body>
    <header class = "header bg-blue">
        <nav class = "navbar bg-blue">
            <div class = "container flex">
                <div class = "navbar-collapse bg-white">
                    <button type = "button" class = "navbar-hide-btn">
                        <img src = "images/close-icon.png">
                    </button>
                    <ul class = "navbar-nav">
                        <li class = "nav-item">
                            <a href = "log.html" class = "nav-link">Inicio</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "empresa.html" class = "nav-link">Datos de Empresa</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "doc.html" class = "nav-link">Doctores</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "paciente.html" class = "nav-link">Pacientes</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "agenda.html" class = "nav-link">Agendas</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "http://127.0.0.1:8000/" class = "nav-link">Consultas</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "inicio.html" class = "nav-link">Seguridad</a>
                        </li>
                    </ul>
                        </form>
                    </div>
                </div> 
            </div>
        </nav>
    <section id = "posts" class = "posts py">
        <div class = "container">
            <div class = "section-head">
                <h2>Latest Post</h2>
            </div>
            <div class = "posts-inner grid">
                <article class = "post-item bg-white">
                    <div class = "img">
                        <img src = "images/post-1.jpg">
                    </div>
                    <div class = "content">
                        <h4>Historias inspiradoras de atención centrada en la persona y la familia durante una pandemia mundial.</h4>
                        <p class = "text text-sm">La COVI-19 seguramente detendrá los grandes festejos que la ciudad estaba planeando antes de que llegara la pandemia, pero esta dificil situación también crea una oportunidad para demostrarle a a la historia el crácter luchador de los porteños

                            “Guayaqui, los guayaquileños y quienes vivimos en esta ciudad nos hemos caracterizados por estar presentes y listos para el cambio que si bien es cierto trae esitencia, hemos logrado adaptarnos a la nueva realidad”.
                            Así lo ha hecho MedicPochita, ya que como institución encargada de la prevención, tratamiento, curación y paliación del cáncer, ha tenido el cuidado de tomar todas las medidas preventivas para mitigar el impacto en nuestros pacientes con alta vulenarabilidad al coronavirus..</p>
                        <p class = "text text-sm"></p>
                        <div class = "info flex">
                            <small class = "text text-sm"><i class = "fas fa-clock"></i> Diciembre 4, 2022</small>
                        </div>
                    </div>
                </article>

                <article class = "post-item bg-white">
                    <div class = "img">
                        <img src = "images/post-2.jpg">
                    </div>
                    <div class = "content">
                        <h4>Quienes Somos</h4>
                        <p class = "text text-sm">La Sociedad de Lucha Contra el Cáncer del Ecuador, Matriz Guayaquil y su Instituto Oncológico Nacional Dr. Juan Tanca Marengo constituye uno de los principales centros de prevención, diagnóstico, tratamiento y paliación de cáncer en la República del Ecuador, a éste, acuden pacientes de todo el territorio continental e insular.

                            Enfocamos todas nuestras energías y esfuerzos en la prevención, detección y tratamiento del cáncer. No permitiremos que distinción social o económica alguna evite que nuestros pacientes tengan los medios necesarios para derrotar al cáncer.</p>
                        <div class = "info flex">
                            <small class = "text text-sm"><i class = "fas fa-clock"></i> Diciembre 4, 2022</small>
                        </div>
                    </div>
                </article>

                <article class = "post-item bg-white">
                    <div class = "img">
                        <img src = "images/post-3.jpg">
                    </div>
                    <div class = "content">
                        <h4>Valores y Principios</h4>
                        <p class = "text text-sm"></p>
                        <p class = "text text-sm">La Matriz de SOLCA tiene un conjunto de principios y valores, los mismos que forman la filosofía de la institución y el soporte de su cultura, estos principios y valores constituyen las creencias que regula la gestión de la institución.

                            El objetivo de esta definición es proporcionar un marco de referencia que inspire y regule la actividad del personal de la Matriz de SOLCA; por lo que a continuación describimos el enfoque de las conductas, actitudes, valores y principios que se deben practicar en cada una de las actividades.</p>
                            <p class = "text text-sm">1. Responsabilidad Social con la Comunidad</p>
                            <p class = "text text-sm">2. Calidad en los Profesionales y Medicamentos y Profesionalismo en los tratamientos</p>
                            <p class = "text text-sm">3. Honestidad y Eficiencia en la Gestión</p>
                            <P class = "text text-sm">4. Solidaridad y Sensibilidad en el Servicio al Paciente</P>
                            <p class = "text text-sm">5. Investigación Clínica aportando estadísticas actualizadas para la determinación de la realidad y las prioridades nacionales de la salud oncológica.</p>
                        <div class = "info flex">
                            <small class = "text text-sm"><i class = "fas fa-clock"></i> Diciembre 4, 2022</small>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <script src = "js/script.js"></script>
</body>
</html>