<!DOCTYPE html>
<html>
<head>
    <Title>HOME | Mochi Music ♬</Title>
    <link rel = "stylesheet" type = "text/css" href="custom.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="menu">
                <h1><a class="active" href="log.html"><span><img src="img/casitainicio.png" alt=""></span>Inicio</a><br></h1>
                <h1><a href="doc.html"><span><img src="img/lupitabuscar.png" alt=""></span>Doctores</a><br></h1>
                <h1><a href="receta.html"><span><img src="img/lupitabuscar.png" alt=""></span>Recetas</a><br><br><br><br><br><br><br><br><br><br><br><br></h1>
                <h1><a href="inicio.html"><span><img src="img/saliricon.png" alt=""></span>Cerrar Sesión</a></h1>
            </div>
        </aside>
        <div class="contenedor_contenido">
            <div class="titulos">
                <h1>Dashboard</h1>
            </div>
            <h1>Pacientes</h1>
            <div class="generos">
                <div class="cards">
                    <div class="card_imagen"><img src="img/yo.jpg" alt=""></div>
                    <div class="card_text">
                        <h4>Anderson Merchán</h4>
                    </div>
                </div>
                <div class="cards">
                    <div class="card_imagen"><img src="img/jeni.jpg" alt=""></div>
                    <div class="card_text">
                        <h4>Jennifer Muñoz</h4>
                    </div>
                </div>
                <div class="cards">
                    <div class="card_imagen"><img src="img/dary.jpg" alt=""></div>
                    <div class="card_text">
                        <h4>Dary Pincay</h4>
                    </div>  
                </div>
                <div class="cards">
                    <div class="card_imagen"><img src="img/theweekend.jpg" alt=""></div>
                    <div class="card_text">
                        <h4>The Weekend</h4>
                    </div>
                </div>
                <div class="cards">
                    <div class="card_imagen"><img src="img/badbunny.jpg" alt=""></div>
                    <div class="card_text">
                        <h4>Bad Bunny</h4>
                        <img src="img/play.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="card_imagen"><img src="img/blackpink.jpg" alt=""></div>
                    <div class="card_text">
                        <h4>Blackpink</h4>
                        <img src="img/play.png" alt="">
                    </div>
                </div>
            </div>
    </div>
</body>
</html>