<!DOCTYPE html>
    <!-- Coding by CodingLab | www.codinglabweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recetas Medicas</title>

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="css/swiper-bundle.min.css">

        <!-- CSS -->
        <link rel="stylesheet" href="rec.css">
        <link rel = "stylesheet" href = "css/normalize.css">
        <link rel = "stylesheet" href = "css/main.css">
                             
    </head>
    <body>
        <header class = "header bg-blue">
            <nav class = "navbar bg-blue">
                <div class = "container flex">
                    <div class = "navbar-collapse bg-white">
                        <button type = "button" class = "navbar-hide-btn">
                            <img src = "images/close-icon.png">
                        </button>
                        <ul class = "navbar-nav">
                            <li class = "nav-item">
                                <a href = "log.html" class = "nav-link">Inicio</a>
                            </li>
                            <li class = "nav-item">
                                <a href = "empresa.html" class = "nav-link">Datos de Empresa</a>
                            </li>
                            <li class = "nav-item">
                                <a href = "doc.html" class = "nav-link">Doctores</a>
                            </li>
                            <li class = "nav-item">
                                <a href = "paciente.html" class = "nav-link">Pacientes</a>
                            </li>
                            <li class = "nav-item">
                                <a href = "#" class = "nav-link">Agendas</a>
                            </li>
                            <li class = "nav-item">
                                <a href = "http://127.0.0.1:8000/" class = "nav-link">Consultas</a>
                            </li>
                            <li class = "nav-item">
                                <a href = "inicio.html" class = "nav-link">Seguridad</a>
                            </li>
                        </ul>
                        
                            </form>
                            
                        </div>
                    </div> 
                </div>
            </nav>
            <div class="slide-container swiper">
                <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/profile1.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Paracetamol</h2>
                            <p class="description">Indicaciones: Tomar 1 pastilla una vez al dia por 2 semanas despues de hora de almuerzo.</p>

                            <button  class="button">Leer Más</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/profile2.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Albendazol</h2>
                            <p class="description">Tomar una cucharadita de (5ml) diaria despues de cada comida.</p>

                            <button class="button">Leer Más</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/profile3.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Umbral</h2>
                            <p class="description">Tomar 2 pastillas cada 8 horas.</p>

                            <button class="button">Leer Más</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/profile4.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Konabom</h2>
                            <p class="description">Aplicarse 2 veces al dia durante 4 semanas</p>

                            <button class="button">Leer Más</button>
                        </div>
                    </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    </body>

    <!-- Swiper JS -->
    <script src="js/swiper-bundle.min.js"></script>

    <!-- JavaScript -->
    <script src="js/rec.js"></script>
    <script src="js/script.js"></script>
</html>